$color-black: #000;

$color-white: #fff;
$color-white-l: #ebedee;

$color-grey-l: #abb2b7;
$color-grey-d: #a1aab0;


$color-blue-vl: #c4e1f5;
$color-blue-l: #99cbed;

$color-blue-d: #5faee3;
$color-blue-dr: #2691d8;
$color-blue: #2487c9;


