.btn{
    padding: 1.5rem;
    border-radius: 100px;
    border: none;
    font-size: 1.4rem;
    display: inline-block;
    margin-right: 20px;

}
.btn-primary {
    background-color: $color-blue-dr;
    color: $color-white;
    font-weight: 500;
    outline: none;

}
button {
    background-color: transparent;
}

button:hover, button:active {
    background-color: $color-blue;
    color: $color-white;
}