.heading-primary {
    font-size: 6rem; 
    color: $color-white;
    justify-content: start;
    
}
.heading-secondary {
    font-size: 2rem;
    display: inline-block;
    &::after{
        content: "";
        display: block;
        height: 4px;
        width: 50%;
        background-color: $color-blue;
    }
}
.mbs{margin-bottom: 2rem;}
.mbm{margin-bottom: 4rem;}
.mbh{margin-bottom: 6rem;}

.mts{margin-top: 2rem;}
.mtm{margin-top: 4rem;}
.mth{margin-top: 6rem;}